<div class="item-box">
    <div class="row">
      <div *ngIf="!comment.user.pictureUrl" class="col-1">
        <img class="item-profile-pic img-fluid"
          src="../../../../assets/images/pp-template.png">
      </div>
      <div *ngIf="comment.user.pictureUrl" class="col-1">
          <img class="item-profile-pic img-fluid"
            src="{{comment.user.pictureUrl}}">
        </div>
      <div class="col-11 item-right">
        <div class="comment-header">
          <span class="item-person-name">{{comment.user.name}}</span>
          <small class="float-right implicit"><i>{{comment.datePublished | date }}</i></small>
        </div>
        <div class="item-body">
          <p>{{comment.description}}</p>
        </div>
        <div>
          <i (click)="onLikeClicked()" class="fa fa-thumbs-up like"></i>
          <span *ngIf="comment.numLikes> 0">{{comment.numLikes}}</span>
        </div>
      </div>
    </div>
  </div>
