<div class="comment">
    <div class="row">
      <div class="col-1">
        <img class="profile-pic img-fluid"
          src="../../../../assets/images/pp-template.png">
      </div>
      <div class="col-11 comment-right">
        <div class="comment-header">
          <span class="person-name">{{comment.user.name}}</span>
          <small class="float-right implicit"><i>{{comment.datePublished | date }}</i></small>
        </div>
        <div class="comment-body">
          <p>{{comment.description}}</p>
        </div>
      </div>
    </div>
  </div>
