<div class="review">
  <div class="row">
    <div class="col-1">
      <img class="profile-pic img-fluid"
        src="../../../../assets/images/pp-template.png">
    </div>
    <div class="col-11 review-right">
      <div class="review-header">
        <span class="person-name">{{review.user.name}}</span>
        <small class="float-right implicit"><i>{{review.datePublished | date }}</i></small>
      </div>
      <div class="review-body">
        <p>{{review.description}}</p>
      </div>
      <div>
        <i class="far fa-thumbs-up" style="color:darkslategray">15</i>
        <button [routerLink]="['/reviews/', review.id]"
          routerLinkActive="active"
          class="btn btn-sm btn-outline-info float-right pointer"
          style="margin-left:5px">
          full discussion <i class="fa fa-link"></i>
        </button>
        <button *ngIf="shouldHideComments" class="float-right btn btn-sm
          btn-outline-success
          pointer" (click)="onShowCommentsClicked()">
          top comments <i class="fa fa-chevron-down"></i>
        </button>
        <button *ngIf="!shouldHideComments" class="float-right btn btn-sm
          btn-outline-danger
          pointer" (click)="onShowCommentsClicked()">
          hide comments <i class="fa fa-chevron-up"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<div id="comments" *ngIf="review.comments && !shouldHideComments">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <app-review-comment
        *ngFor="let comment of review.comments"
        [comment]=comment>
      </app-review-comment>
    </div>
  </div>
</div>
