<div *ngIf="showNotLoggedIn" class="alert alert-danger text-center">
  <span >Please log in to perform this action</span>
  <button class="btn btn-primary" (click)="onLoginClicked()">Log in</button>
</div>

<div class="main-container">

  <div class="sub-header">
    <div *ngIf="!location | async" class="not-loaded"></div>
    <div *ngIf="location | async">
      <div class="info">
        <span class="badge badge-danger">{{location.value.name | uppercase}}</span>
        <span class="badge badge-warning">Reviews</span>
        <button *ngIf="activeUser && !showForm"
          (click)="showPostForm()" class="float-right btn btn-outline-primary">
          <i class="fa fa-plus"></i> Comment
        </button>
        <button *ngIf="showForm" (click)="hidePostForm()" class="float-right btn
          btn-danger"><i
            class="fa fa-cross"></i> Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="container">

    <app-item-post (posted)="onReviewPosted($event)" *ngIf="location.value && showForm"
      [postReview]=true [parentId]=location.value.id>
    </app-item-post>

    <br>

    <div *ngIf="reviews.value">
      <app-review *ngFor="let review of reviews | async" (notLoggedin)="showNotLoggedInMessage()" [review]=review [location]=location.value></app-review>
    </div>

    <div *ngIf="!reviews.value">
      <div class="not-loaded"></div>
      <div class="not-loaded"></div>
      <div class="not-loaded"></div>
      <div class="not-loaded"></div>
      <div class="not-loaded"></div>
      <div class="not-loaded"></div>
      <div class="not-loaded"></div>
    </div>

    <div id="pagination">
      <ul>
        <span id="prev-page" *ngIf="pageInfo.first==false"
          (click)=getPage(pageInfo.number-1)><<</span>
        <li *ngFor="let number of numbers"
          (click)=getPage(number)
          [ngClass]="{'active': pageInfo.number==number, 'disabled':
          pageInfo.number!=number}">
          {{number}}
        </li>
        <span id="next-page" *ngIf="pageInfo.last==false"
          (click)=getPage(pageInfo.number+1)>>></span>
      </ul>
    </div>
  </div>

</div>
