.badge {
  padding: 5px;
}

.like {
  color: darkslategray;
}

.like:hover {
  color: #4565a9;
  cursor: pointer;
}

.link-show-top-comments {
  color: #007bff !important;
}

.link-hide-top-comments {
  color: #dc3545 !important;
}

.link-full-discussion {
  color: darkslategray !important;
  margin-left: 10px;
}
