<div id="question">
  <div class="row" *ngIf="question">
    <div class="col-1">
      <img class="img-fluid"
           src="../../../../assets/images/pp-template.png">
    </div>
    <div class="col-11">
      <span>{{question.user.name}}</span>
      <a href="/location/{{question.location.id}}/forum/questions/{{question.id}}/answers?page=0&size=2">
        <small class="float-right">{{question.date_published | date }}</small>
      </a>
      <div class="row">
        <div class="col-10">
          <p>{{question.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <small (click)="openFullDiscussion()" class="badge badge-primary float-right pointer" style="margin-left: 5px">
    open full discussion
    <i class="fa fa-chevron-right"></i>
  </small>
  <small *ngIf="shouldHideComments" class="float-right badge badge-success pointer" (click)="onShowCommentsClicked()">
    show top comments <i class="fa fa-chevron-down"></i>
  </small>
  <small *ngIf="!shouldHideComments" class="float-right badge badge-danger pointer" (click)="onShowCommentsClicked()">
    hide comments <i class="fa fa-chevron-up"></i>
  </small>
</div>

<ul id="list-comments" *ngIf="question.answers && !shouldHideComments">
  <li *ngFor="let answer of question.answers">
    <!--<app-review-comment [comment]=comment></app-review-comment>-->
    <app-answer [answer]="answer"></app-answer>
  </li>
</ul>


<!--<div *ngIf="question">-->
<!--<a href="/location/{{question.location.id}}/forum/questions/{{question.id}}/answers?page=0&size=2">-->
<!--{{question.date_published}}</a>-->
<!--{{question.description}} {{question.user.name}}-->
<!--</div>-->
