<div class="item-box">
  <div class="row">
    <div *ngIf="!question.user.pictureUrl" class="col-1">
      <img class="item-profile-pic img-fluid"
        src="../../../../assets/images/pp-template.png">
    </div>
    <div *ngIf="question.user.pictureUrl" class="col-1">
      <img class="item-profile-pic img-fluid"
        src="{{question.user.pictureUrl}}">
    </div>
    <div class="col-11 item-right">
      <div class="item-header">
        <span class="item-person-name">{{question.user.name}}</span>
        <small class="float-right implicit"><i>{{question.datePublished | date }}</i></small>
      </div>
      <div class="item-body">
        <p>{{question.description}}</p>
      </div>
      <div>
        <a (click)="onOpenFullDiscussionClicked()"
          class="float-right pointer link-full-discussion ">
          <small>All answers <i class="fa fa-link"></i></small>
        </a>
        <a *ngIf="shouldHideComments" class="link-show-top-comments  float-right pointer"
          (click)="onShowTopAnswersClicked()">
          <small>Top answers <i class="fa fa-chevron-down"></i></small>
        </a>
        <a *ngIf="!shouldHideComments" class="float-right pointer link-hide-top-comments" (click)="onShowTopAnswersClicked()">
          <small>Hide comments <i class="fa fa-chevron-up"></i></small>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="question.answers && !shouldHideComments">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <app-answer
        *ngFor="let answer of question.answers"
        [answer]=answer
        (notLoggedin)=emitNotLoggedIn()>
      </app-answer>
    </div>
  </div>
</div>
