.container {
  padding: 50px;
}

.not-loaded {
  background-color: rgb(248, 246, 246);
  height: 60px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.section-name {
  padding: 10px;
}

.page-title {
  font-size: 2em;
  color: darkslategray;
}

.review {
  padding: 20px 20px 0 20px;
}

.review-right {
  padding: 10px 30px 15px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color:  lightgray;
  background-color: rgb(251, 251, 251);;
}

.implicit {
  color: gray;
}

.review-header {
  margin-bottom: 10px;
}

.review-body {
  margin-bottom: 10px;
}

.person-name {
  color: darkslategray;
  font-weight: bold;
  font-size: 1.4em;
}

.profile-pic {
  border-radius: 5px;
}


.pointer {
  cursor: pointer;
}

#list-comments {
  list-style: none;
}

.badge {
  padding: 5px;
}

.like {
  color: darkslategray;
}

.like:hover {
  color: #4565a9;
  cursor: pointer;
}

.main-container {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 30px;
  height:100%;
}

