<div *ngIf=location class="card">
  <div class="card-body">
    <div class="title">{{location.name}}</div>
    <p>Some description about the place</p>
    <div><small>average salary: N/A</small></div>
    <div><small>average accomodation: N/A</small></div>
  </div>
  <div class="card-footer text-muted">
    <span class="breadcrumb-tag badge badge-primary">
      Reviews
      <small><i class="fa fa-link"></i></small>
    </span>
    <span class="breadcrumb-tag badge badge-warning">
      Forum
      <small><i class="fa fa-link"></i></small>
    </span>
    <span class="breadcrumb-tag badge badge-success">
      Events
      <small><i class="fa fa-link"></i></small>
    </span>
    <span class="breadcrumb-tag badge badge-info">
      Ads
      <small><i class="fa fa-link"></i></small>
    </span>
  </div>
</div>
