<div class="item-box">
  <div class="row">
    <div *ngIf="!answer.user.pictureUrl" class="col-1">
      <img class="item-profile-pic img-fluid"
        src="../../../../assets/images/pp-template.png">
    </div>
    <div *ngIf="answer.user.pictureUrl" class="col-1">
        <img class="item-profile-pic img-fluid"
          src="{{answer.user.pictureUrl}}">
      </div>
    <div class="col-11 item-right">
      <div class="comment-header">
        <span class="item-person-name">{{answer.user.name}}</span>
        <small class="float-right implicit"><i>{{answer.datePublished | date }}</i></small>
      </div>
      <div class="item-body">
        <p>{{answer.description}}</p>
      </div>
      <div>
        <i (click)="onLikeClicked()" class="fa fa-thumbs-up like"></i>
        <span *ngIf="answer.numLikes> 0">{{answer.numLikes}}</span>
      </div>
    </div>
  </div>
</div>
