<div class="main-container">

  <div class="sub-header">
    <div *ngIf="!location.value" class="not-loaded"></div>
    <div *ngIf="location.value && question">
      <div class="info">
        <span class="badge badge-danger">{{location.value.name | uppercase}}</span>
        <span class="badge badge-warning">Question discussion</span>
        <span class="badge badge-success">{{question.user.username}}</span>
        <button *ngIf="activeUser && !showForm"
        (click)="showPostForm()" class="float-right btn btn-outline-primary">
        <i class="fa fa-plus"></i> Answer
        </button>
        <button *ngIf="showForm" (click)="hidePostForm()" class="float-right btn btn-danger"><i
          class="fa fa-cross"></i> Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf=question>

      <app-question *ngIf=question [question]=question [location]=location.value></app-question>

      <div class="row" *ngIf="showForm">
        <div class="col-1"></div>
        <div class="col-11">
          <app-item-post (posted)="onAnswerPosted($event)"
            [postForumQuestion]=true [parentId]=question.id></app-item-post>
        </div>
      </div>

      <div *ngIf="answers.value">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-8">
            <app-answer
              *ngFor="let answer of answers | async"
              [answer]=answer>
            </app-answer>
          </div>
        </div>
      </div>

      <div *ngIf="!answers.value">
        <div class="not-loaded"></div>
        <div class="not-loaded"></div>
        <div class="not-loaded"></div>
        <div class="not-loaded"></div>
        <div class="not-loaded"></div>
        <div class="not-loaded"></div>
        <div class="not-loaded"></div>
      </div>

  </div>

</div>



<!--
<div *ngIf="question && pageInfo">
  <ul *ngIf="pageInfo" class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="page==0">
      <a (click)="setPage(0)" class="page-link">First</a>
    </li>
    <li class="page-item" [class.disabled]="page==0">
      <a (click)="setPage((+page)-1)" class="page-link">Previous</a>
    </li>
    <li *ngFor="let p of pagerNumbers" [class.active]="(p-1)==page" class="page-item">
      <a (click)="setPage(p-1)" class="page-link">{{p}}</a>
    </li>
    <li class="page-item" [class.disabled]="page==pageInfo.totalPages-1">
      <a (click)="setPage((+page)+1)" class="page-link">Next</a>
    </li>
    <li class="page-item" [class.disabled]="page==pageInfo.totalPages-1">
      <a (click)="setPage(pageInfo.totalPages-1)" class="page-link">Last</a>
    </li>
  </ul>
</div>
 -->
