.container {
  padding: 50px;
}

.not-loaded {
  background-color: rgb(248, 246, 246);
  height: 60px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.section-name {
  padding: 10px;
}

.page-title {
  font-size: 2em;
  color: darkslategray;
}

.main-container {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 30px;
  height:100%;
}
